* {
    margin: 0;
    padding: 0;
}

body, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;



}
.container{
    width: auto;
    height: 100vh;
    background-image: url(imgs/diagoona-bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    /* transition: 5s; */

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

}

.header{
    position: relative;
    top: 0;
    left: 0;
    padding: 5px 100px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    padding: 20px;
}



.navbar a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    background: transparent;
    padding: 2px 15px;
    border-radius: 20px;

}

.navbar a:hover{
    transform: scale(1.2);
    color: white;
    background: rgb(3, 90, 107);
}

.content h1{
    font-size: 50px;
    margin-bottom: 3px;
}

.content {
    /* width: 50%; */
    max-width: 650px;
    margin: 60px;

}
.paragraph h2{
    font-size: 30px;
    text-transform: uppercase;
}

h2 span{
    color: 	DeepSkyBlue;
}
.paragraph{
    margin: 60px;
}

#ptag{
    padding-top: 20px;
}

button{
    color: white;
    font-size: 10px;
    border: 1px solid white;
    padding: 10px 25px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    background: transparent;
    margin-top: 30px;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(3, 90, 107);
    transform: scale(1.2);
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    bottom: 0;

}

.foot p{
    text-align: center;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.518);
}

span{
    color: white;
    font-weight: bold;
}

.foot-icons{
    letter-spacing: 30px;
    font-size: 30px;
    position: relative;
    padding-top: 20px;
}

.foot-icons a{
    color: rgba(255, 255, 255, 0.518);
    transition: 0.3s;

}

.foot-icons a.active{
    transform: scale(1.2);
}

@keyframes animate {
    0%
    {
        background-image: url(imgs/diagoona-bg-2.jpg);
    }
    20%
    {
        background-image: url(imgs/diagoona-bg-1.jpg);
    }
    40%
    {
        background-image: url(imgs/diagoona-bg-2.jpg);
    }
    60%
    {
        background-image: url(imgs/diagoona-bg-1.jpg);
    }
    80%
    {
        background-image: url(imgs/diagoona-bg-2.jpg);
    }
    100%
    {
        background-image: url(imgs/diagoona-bg-1.jpg);
    }
}